.title {
    font-size: 100px;
    text-align: center;
    border: darkblue;
    
}
.float-container {
    display: flex;
    padding: auto;
}
body {
    max-width: 95%;
}

.float-child {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    max-height: auto;
    float: left;
    flex-direction: column;  
    max-width: 32%;
    padding: auto;
  
}

 .card {
     box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
     transition: 0.3s;
     border-radius: 5px;
     padding-bottom: 20px;
     align-items: center;
     padding: 10px;
}

.boxtitle {
    text-align: center;
    font-size: 50px;
}

.description {
    font-size:large;
    border: darkblue;
    border-width: 10px;
}

.fishimg {
     border-radius: 5px;
     padding: top 5%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }
 
 .description {
     flex-wrap: wrap;
     text-align: left;
     font-size: 28px;
 }

 ul {
     list-style-type: none;
     padding-left:0px;
 }   

/* .fishtype {
    max-width: 40%;
 }

 .location {
     max-width: 40%;
 }


#fishtank {

}
.fish {

}
.fish_name {

}

*/
